{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{{room.name}} | Listening Party</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS Import List -->
  <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static "chat/styles/room_detail.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
  <!-- Script Import List -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- MAKE PRETTY SECTION -->
  {% block head %}

  {% endblock %}
  <div class="row justify-content-center" id="signin_navbar_row">
    <div class="d-flex mx-auto" id="navbar_signin_flex">
      {% if 'profile' not in request.session %}
      <div class="col-3 mx-auto" id="signin_col">
        <div class="d-flex-column justify-content-center" id="signin_flexbox">
          <div class="btn-group">
            <a role="button" class="btn btn-outline-light" href="/login/">Log in <i class="fab fa-spotify"></i></a>
            <a role="button" class="btn btn-outline-light" href="https://www.spotify.com/us/signup/"
              target="_blank">Sign Up <i class="fab fa-spotify"></i></a>
          </div>
        </div>
      </div>
      {% else %}
      {{request.session.profile.disply_id}}
      <img src="{{request.session.profile.profile_pic}}" class="rounded-circle" id="profile_thumb" />
      <div class="d-flex" id="pro_log">
        <form action="/logout/" method="POST">
          {% csrf_token %}
          <div class="btn-group">
            <a class="btn btn-outline-light" role="button"
              href="/profile/{{request.session.profile.username}}">Profile</a>
            <button type="button" class="btn btn-outline-light" onclick="form.submit()">Logout</button>
          </div>
        </form>
      </div>
      {% endif %}
      <div class="col-9 mx-auto" id="navbar_col">
        <div class="d-flex justify-content-end " id="navbar_flexbox">
          <div class="btn-group" id="nav_btn_group">
            <a class="btn btn-outline-light" id="navbutton" role="button" href="/">Home</a>
            <a class="btn btn-outline-light disabled" id="navbutton" role="button" href="/">Match Making</a>
            <a class="btn btn-outline-light" id="navbutton" role="button" href="/chat/">Listening Party</a>
            <a class="btn btn-outline-light" id="navbutton" role="button" href="/dev/">Development Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .rounded-edges {
      border-radius: 0.25rem;
    }

    .footer {
      position:relative;
      height: 2px;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: transparent;
    }
    div.scroll {
                margin:4px, 4px;
                padding:4px;
                background-color: green;
                width: 500px;
                height: 110px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
            }
  </style>
</head>

<body>

  <div class="row justify-content-center">
    <div class="col-2">
      <div class="d-flex p-2 justify-content-center">
      
      
        </div>
      </div>

      <div class="col-6 container-fluid">

        <h2 style="text-align: right; padding-right: 50px;">{{room.name}}</h2>
        <p style="text-align: right; padding-right: 66px;">
          {{room.description}}
        </p>
      <div class="d-flex justify-content-center" style="padding-top: 10px; padding-left: 250px;" id ="middle-flex">
        
        <iframe src="https://open.spotify.com/embed/playlist/3eG8Ulg1ixwU3DPpdgnnGi" width="300" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      </div>

      </div>

      <div class="col-4">
        <div class="col-auto">
            <div class="table-responsive center" style="height: 500px; width:auto; overflow: auto;" >

              <div class="container">
                <div class="columns">
                  <div>
                    <section>
                      <div id="messages"></div>
                      <form id="message-form">
                        <div class="field" style="height: auto;">
                          <label class="label">Message</label>
                          <div class="control" ">
                            <textarea class="textarea" id="message-input"placeholder="Your message here" rows="3" autofocus></textarea>
                          </div>
                        </div>
                        <button type="submit" class="button">Send</button>
                      </form>
                    </section>
                  </div>
            
                </div>
              </div>
    
  
          </div>
        </div>
      </div>
    </div>


  

  <!-- Script Import List -->
  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="{% static "chat/scripts/rooms.js" %}"></script>
</body>

</html>