{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>{{room.name}} | Listening Party</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--********************************* External CSS Links Start *********************************-->
  <!-- CSS Import List -->
  <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static 'chat/styles/room_detail.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
  <!--******************************** External CSS Links End ************************************-->
  {% block head %}

  {% endblock %}
  <!--****************************************** Navigation Bar Start ******************************************-->
  <div class="row justify-content-center" id="signin_navbar_row">
    <div class="d-flex mx-auto" id="navbar_signin_flex">
      {% if 'profile' not in request.session %}
      <div class="col-3 mx-auto" id="signin_col">
        <div class="d-flex-column justify-content-center" id="signin_flexbox">
          <div class="btn-group">
            <a role="button" class="btn btn-outline-light" href="/login/">Log in <i class="fab fa-spotify"></i></a>
            <a role="button" class="btn btn-outline-light" href="https://www.spotify.com/us/signup/"
              target="_blank">Sign Up <i class="fab fa-spotify"></i></a>
          </div>
        </div>
      </div>
      {% else %}
      {{request.session.profile.disply_id}}
      <img src="{{request.session.profile.profile_pic}}" class="rounded-circle" id="profile_thumb" />
      <div class="d-flex" id="pro_log">
        <form action="/logout/" method="POST">
          {% csrf_token %}
          <div class="btn-group">
            <a class="btn btn-outline-light" role="button"
              href="/profile/{{request.session.profile.username}}">Profile</a>
            <button type="button" class="btn btn-outline-light" onclick="form.submit()">Logout</button>
          </div>
        </form>
      </div>
      {% endif %}
      <div class="col-9 mx-auto" id="navbar_col">
        <div class="d-flex justify-content-end " id="navbar_flexbox">
          <div class="btn-group" id="nav_btn_group">
            <a class="btn btn-outline-light" id="navbutton" role="button" href="/">Home</a>
            <a class="btn btn-outline-light" id="navbutton" role="button" href="/match_making/">Match Making</a>
            <a class="btn btn-outline-light" id="navbutton" role="button" href="/chat/">Listening Party</a>
            <a class="btn btn-outline-light" id="navbutton" role="button" href="/dev/">Development Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--****************************************** Navigation Bar End ******************************************-->

</head>

<!--****************************************** HTML Body Start ******************************************-->

<body style="min-height: 100vh; min-width: 100vw;">
  <!--************************************** Start of the DIV CONTAINER **************************************-->
  <div class="container-fluid">
    <!--************************************** Start of the DIV ROW **************************************-->
    <div class="row">
      <br>
      <div class="col-lg-4 col-med-4 col-sm-4 col-xl-4">
        <!--************************************** Start of the DIV COL 1 (AKA TEXT) **************************************-->
        <div>
          <div class="row">
            <div class="float-right">
              <h2 class="title">{{room.name}}</h2>
              <p class="subtitle">
                {{room.description}}
              </p>
            </div>
          </div>
          <br>
          <i>Welcome to {{room.name}} </i><br>
          <i>You have joined the {{room.name}} Listening Party.</i><br>
          <i>Feel free to Jam Out and share your thoughts in the Chat. </i>
        </div>
      </div>
      <!--************************************** End of the DIV COL 1 (AKA TEXT) **************************************-->

      <div class="col-lg-4 col-med-4 col-sm-4 col-xl-4">
        <!--************************************** Start of the DIV COL 2 (AKA Spotify Iframe) **************************************-->
        <iframe id="spotify" src="https://open.spotify.com/embed/playlist/3eG8Ulg1ixwU3DPpdgnnGi" width="300"
          height="625" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <!--************************************** End of the DIV COL 2 (AKA Spotify Iframe) **************************************-->

      <!--************************************** Start of the DIV COL 3 (AKA ChatBox) **************************************-->
      <div class="col-lg-4 col-med-4 col-sm-4 col-xl-4" style="right: 5vw;">
        <!-- style="height:100%;"-->
        <section>
          <!-- style="right: -265px;" -->
          <div id="messages" style="width: 512px; height: 460px; right: inherit;"></div>
          <!-- style="top: -90px; right:2%; height:450px; width: 538px;" -->
          <form id="message-form" style="width: 504px;">
            <!-- style="top: 601px; right: 1px; width: 525px;" -->
            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" id="message-input" placeholder="Enter a message to chat with the group"
                  rows="3" autofocus></textarea>
              </div>
            </div>
            <button type="submit" class="button">Send</button>
          </form>
        </section>
      </div>
      <!--************************************** End of the DIV COL 3 (AKA ChatBox) **************************************-->
    </div>
    <!--************************************** END of the DIV ROW **************************************-->
  </div>
  <!--************************************** END of the DIV CONTAINER **************************************-->

  <!--********************************* External JS Scripts Links Start *********************************-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/chat/v2.0/twilio-chat.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'chat/scripts/rooms.js' %}"></script>
  <script src="{% static 'chat/scripts/room_det.js' %}"></script>
  <!--********************************* External JS Scripts Links End *********************************-->

</body>
<!--****************************************** HTML Body End ******************************************-->

</html>