{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>{% block title %}$GME{% endblock %}</title>
  <head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <!-- Script Import List -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />

    <!-- MAKE PRETTY SECTION -->
    <div class="jumbotron"></div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #02214e;">
    <li class="nav-item list-unstyled">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item list-unstyled">
      <a class="nav-link" href="/admin">admin</a>
    </li>
    </nav>
    
    {% endblock %}
  </head>

  <body>
    {% block body %}
    <div class="row top-buffer"></div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col">
      {% block mid_page_content %} 
      {% endblock %}
      </div>
      <div class="col-2"></div>
    </div>
    {% endblock %}
  </body>
  <footer>
    {% block footer %}
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    <!--Row Seperator-->
    <div class="row top-buffer"></div>
    {% endblock %}
  </footer>
</html>
