.jumbotron{
    background-image: url("banner.gif");
    background-size: cover;
    height: 100%;
    min-height: 300px;
        }
body{ background: rgb(32, 32, 32) !important; 
    color:rgb(148, 147, 147) !important;
    } 
p,h5{
    color:rgb(134, 134, 134);
    text-align: center;
  }
  h3{
    color:rgb(0, 0, 0) !important;
    text-align: center !important;
  }
  h1{
    color:rgb(165, 163, 163) !important;
    text-align: center !important;
  }
.top-buffer{ 
    margin-top:20px; 
}