{% load static %}
<!DOCTYPE html>
<html lang="en">
  <title>{% block title %}$GME{% endblock %}</title>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <!-- Script Import List -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <!-- MAKE PRETTY SECTION -->
    {% block head %}
    
    {% endblock %}
    <div class="row justify-content-center" id="signin_navbar_row">
        <div class="d-flex mx-auto" id="navbar_signin_flex">
          {% if 'profile' not in request.session %}
          <div class="col-3 mx-auto" id="signin_col">
            <div class="d-flex-column justify-content-center" id="signin_flexbox">
                <div class="btn-group">
                  <a role="button" class="btn btn-outline-light" href="/login/">Log in <i class="fab fa-spotify"></i></a>
                  <a role="button" class="btn btn-outline-light" href="https://www.spotify.com/us/signup/" target="_blank">Sign Up <i class="fab fa-spotify"></i></a>
                </div>
              </div>
          </div>
          {% else %}
            <img src="{{request.session.profile.profile_pic}}" class="rounded-circle" id="profile_thumb"/>
            <div class="d-flex" id="pro_log">
                <form action="/logout/" method="POST">
                  {% csrf_token %}
                    <div class="btn-group">
                    <a class="btn btn-outline-light" role="button" href="/profile/{{request.session.profile.username}}">Profile</a>
                    <button type="button" class="btn btn-outline-light" onclick="form.submit()">Logout</button>
                  </div>
                </form>
            </div>
          {% endif %}
          <div class="col-9 mx-auto" id="navbar_col">
            <div class="d-flex justify-content-end " id="navbar_flexbox">
              <div class="btn-group" id="nav_btn_group">
                  <a class="btn btn-outline-light" id="navbutton" role="button" href="/">Home</a>
                  {% if 'username' in request.session.profile %}
                  <a class="btn btn-outline-light" id="navbutton" role="button" href="/match_making/">Match Making</a>
                  <a class="btn btn-outline-light" id="navbutton" role="button" href="/chat/">Listening Party</a>
                  <a class="btn btn-outline-light" id="navbutton" role="button" href="/dev/">Development Page</a>
                  {% else %}
                  <button type="button" class="btn btn-outline-light" id="navbutton" onclick="pop_yur();">Match Making</button>
                  <button type="button" class="btn btn-outline-light" id="navbutton" onclick="pop_yur();">Listening Party</button>
                  <a class="btn btn-outline-light disabled" id="navbutton" role="button" href="/dev/">Development Page</a>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
function pop_yur(){
    alert("Notice: To experience the full functionality of To The Moon, please log in to Spotify!");
} 
</script>
  </head>

  <body>
    

  {% block body_content %}

  {% endblock %}


  </body>
  
  </footer>
    <footer class="bg-dark text-center text-white">
    <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p>Disclaimer: If you share your account with anyone, please be advised that we cannot guarantee a personalized match for you.</p>
        © 2021 Copyright:
        <a class="text-white" href="https://docs.google.com/document/d/1Pqt9BBZMlkG-q3vySrJdF_M8-gSLODhj0Tv4LaRrym8/edit?usp=sharing">GME Inc.</a>
      </div>
    <!-- Copyright -->
  </footer>
</html>
