{% extends "base_layout.html" %}

{% block body_content %}
<div class="row">
    <div class="col-md-1" id="padding_col"></div>
    <div class="col-md-9">
            <div class="row" style="margin:20px;">
            {% for user in user_list %}
            {% if forloop.counter0|divisibleby:"4" %}
            <div class ="row">
            </div>
            {% endif %}
            <div class="col-md-2" style="margin:20px;">
                <div class="card bg-dark" style="width:200px; height:350px;">
                    <img class="card-img-top" src="{{user.profile_pic}}" alt="Card image" style="height:200px;width:200px;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align:center;color:white;margin: auto;">{{user.displayname}}</h5>
                    </div>
                    <div class="card-footer">
                        <form action="/devp/{{user.username}}" method="POST">
                        {% csrf_token %}
                        <center><button type="button" class="btn btn-info" onclick="form.submit()">See Profile</button></center>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}