{% extends "base_layout.html" %}
{% block head %}
    <div class="jumbotron jumbotron-fluid justify-content-center" id="jumbotron_banner">
    </div>
{% endblock %}
{% block body_content %}
<div class="row justify-content-center">
  <div class="col-2">
    <div class="d-flex p-2 justify-content-center">
      <div class="card text-white bg-secondary">
          <h4 class="card-header"><i class="fas fa-guitar"></i> Genre Selection</h4>
          <div class="card-body">
            <form  action="/anon_genre_submit/" method="POST">
              {% csrf_token %}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="country_check" name="genre" value="country">
                  <label class="custom-control-label" for="country_check">Country</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="hiphop_rb_check" name="genre" value="hiphop_rb">
                  <label class="custom-control-label" for="hiphop_rb_check">Hip Hop & RnB</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="dance_check" name="genre" value="dance">
                  <label class="custom-control-label" for="dance_check">Dance</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="alt_check" name="genre" value="alt">
                  <label class="custom-control-label" for="alt_check">Alternative</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="pop_check" name="genre" value="pop">
                  <label class="custom-control-label" for="pop_check">Pop</label>
                </div>
                <p></p>
                <button type="button" class="btn btn-primary" onclick="form.submit()">Get Recommended</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 container-fluid">
      <div class="d-flex justify-content-center" id ="middle-flex">
          {% if request.session.tracklist|length <= 0 %}
          <img src="https://i.ibb.co/ZVdCX3Q/rec-pic2.png" alt="Music recommender" width="600" height="600">
          {% elif request.session.tracklist|length > 0 %}
          <div class="row justify-content-center">
            {% for trackID in request.session.tracklist %}
              <div class = "p-2" id="spotify_player"><iframe src="https://open.spotify.com/embed/track/{{trackID}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
            {% endfor %}
            </div>
          {% endif %}
      </div>
    </div>
    <div class="col-4">
      <div class="col-auto">
        <img src="https://i.ibb.co/VLnrsP5/lP.png" alt="Listening Party" width="430" height="150">
          <div class="table-responsive center" style="height: 500px; width:auto; overflow: auto;" >
          <table class="table table-fixed table-secondary table-striped">
            <tbody >
              <tr id="listen_row">
                <td id="listen_cell"><a href="rooms/sun">Sunday</a></td>
                <td><p style="vertical-align: middle; text-align:center;"><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWQRwui0ExPn" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p></td>
              </tr>
              <tr id="listen_row">
                <td id="listen_cell"><a href="rooms/mon">Monday</a></td>
                <td><p style="text-align:center;"><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX0BcQWzuB7ZO" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p></td>
              </tr>
              <tr id="listen_row">
                <td id="listen_cell"><a href="rooms/tues">Tuesday</a></td>
                <td><p style="text-align:center;"><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXcBWIGoYBM5M" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p></td>
              </tr>
              <tr id="listen_row">
                <td id="listen_cell"><a href="rooms/wens">Wednesday</a></td>
                <td id="listen_cell"><p style="text-align:center;"><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4FcAKI5Nhzq" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p></td>
              </tr>
              <tr id="listen_row">
                <td id="listen_cell"><a href="rooms/thurs">Thursday</a></td>
                <td><p style="text-align:center;"><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWVqJMsgEN0F4" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p></td>
              </tr>
              <tr id="listen_row">
                <td id="listen_cell"><a href="rooms/fri">Friday</a></td>
                <td><p style="text-align:center;"><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXcF6B6QPhFDv" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p></td>
              </tr>
              <tr id="listen_row">
                <td id="listen_cell"><a href="rooms/sat">Saturday</a></td>
                <td><p style="text-align:center;"><iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX1lVhptIYRda" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


