{% extends "base_layout.html" %}
{% block body_content %}
<div class="row">
    <div class="col-1" id="padding_col"></div>
    <div class="col-7">
   <!-- {{request.session.profile}} -->
        <p id="paragraph_spacer"></p>
        {% include 'profile_dev.html' with user_json=user_json %}
    </div>
    <div class="col-3" id="profile_page_img_col">
        <img src="{{user_json.profile_pic}}" class="rounded-circle" id="profile_page_img" style="height:350px;width:350px;"/>
    </div>
</div>
{% endblock %}

